* {
  margin: 0;
  padding: 0;
  background-color: #cbd5df;
  /* background-color: #fff; */
  /* background-color: #212121; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --orange: #ff771b;
  --light-blue: #3752f7;
  --purple: #5a4db2;
  --font-family-secondary: "Montserrat", sans-serif;
  --inner-shadow: 1px 4px 2px -3px #aec0d1b3 inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}

header {
  padding: 24px 48px;
  color: var(--light-blue);
  font-size: 1.3rem;
}

.default-nav {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 24px;
}

.default-nav a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

#intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

#intro div {
  width: 510px;
}
.intro-right h1 {
  font-size: 4.5rem;
  color: var(--purple);
  font-family: var(--font-family-secondary);
  font-weight: 700;
}

.intro-right p {
  font-size: 2.5rem;
  padding-top: 15px;
  color: var(--light-blue);
}

.orange {
  color: var(--orange);
}

#about,
#projects,
#skills,
#contact-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 60px 0 50px 0;
}

#about div h2,
#projects div h2,
#skills div h2,
#contact-me div h2 {
  color: var(--purple);
  font-size: 3rem;
  text-align: center;
  font-family: var(--font-family-secondary);
}

#about div,
#projects > div,
#skills > div,
#contact-me > div {
  width: 1100px;
}

#about div p,
#projects div p,
#skills div p {
  margin-bottom: 24px;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  color: var(--light-blue);
}

.project-box,
.skill-box {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.project-box h3,
.skill-box h3 {
  padding: 10px;
  font-size: 1.5rem;
  font-family: var(--font-family-secondary);
}

.project-box div img {
  width: 530px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
}

.project-box p {
  padding: 10px;
}

.project-box a {
  text-decoration: none;
}

.project-box img:hover {
  transform: scale(1.05);
}

#contact-me .info-container {
  display: flex;
  width: 1050px;
  justify-content: space-between;
}

.info-container > div {
  flex: 50%;
}

.info-container h3 {
  font-size: 2.5rem;
  font-family: var(--font-family-secondary);
  color: var(--purple);
}

.info-container > div a {
  text-decoration: none;
  color: #92b1cd;
  display: inline-block;
  position: relative;
  transition: color 0.4s ease-in-out;
}

.info-container > div a:hover {
  color: var(--light-blue);
}

.info-container > div a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  left: 0;
  bottom: 0;
  background-color: var(--light-blue);
  transition: transform 0.4s ease-in-out;
  transform-origin: bottom right;
  pointer-events: none;
  border-radius: 10px;
}

.info-container > div a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.info-container div > div:nth-child(2) p {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 20px 60px 0 0;
  color: var(--light-blue);
}

#contact {
  flex: 50%;
}

#contact section {
  width: inherit;
  padding: 8px;
}

#contact label {
  font-size: 1.02rem;
  color: var(--light-blue);
  font-weight: 600;
}

#contact input,
#contact textarea {
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px;
  outline: none;
  border: 2px solid #aec0d1;

  background-color: #cbd5dfae;
  transition: all 0.4s ease-in;
}

#contact textarea {
  resize: none;
}

#contact textarea:focus,
#contact input:focus {
  border-color: var(--light-blue);
}

#contact button {
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--orange);
  border-radius: 6px;
  z-index: 1;
  color: var(--orange);
  font-size: 1.2rem;
  transition: color 0.5s;
}

#contact button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--orange);
  left: 100%;
  top: 100%;
  transition: all 0.7s;
}

#contact button:hover {
  color: #fff;
  cursor: pointer;
}

#contact button:hover::before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: var(--orange);
  transition: background 0s;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  background-color: var(--purple);
  color: white;
}
