* {
  margin: 0;
  padding: 0;
  background-color: #cbd5df;
  /* background-color: #cbafdd; */
  /* background-color: #fff; */
  font-family: sans-serif;
}

:root {
  --orange: #ff771b;
  /* --light-blue: #7d8df6; */
  --light-blue: #3752f7;
  --purple: #5a4db2;
}

header {
  padding: 24px 48px;
  color: var(--light-blue);
  font-size: 1.3rem;
}

.default-nav {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 24px;
}

.default-nav a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

#intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

#intro div {
  width: 510px;
}
.intro-right h1 {
  font-size: 4.5rem;
  color: var(--purple);
  font-weight: normal;
}

.intro-right p {
  font-size: 2.5rem;
  padding-top: 15px;
  color: var(--light-blue);
}

.orange {
  color: var(--orange);
}

#about,
#projects,
#skills,
#contact-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  height: 100vh;
}

#about div h2,
#projects div h2,
#skills div h2,
#contact-me div h2 {
  color: var(--purple);
  font-size: 3rem;
}

#about div,
#projects > div,
#skills > div,
#contact-me > div {
  width: 1100px;
}

#about div p,
#projects div p,
#skills div p {
  margin-bottom: 24px;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  color: var(--light-blue);
}

.project-box,
.skill-box {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.project-box h3,
.skill-box h3 {
  padding: 10px;
  font-size: 1.5rem;
}

.project-box div img {
  width: 530px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
}

.project-box p {
  padding: 10px;
}

.project-box a {
  text-decoration: none;
}

.project-box img:hover {
  transform: scale(1.05);
}

#contact {
  width: 1050px;
}

#contact section {
  width: inherit;
  padding: 8px;
}

#contact input,
#contact textarea {
  width: inherit;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px;
  outline: none;
  border-color: var(--light-blue);
}

#contact textarea {
  border: 2px solid var(--light-blue);
}

#contact button {
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--orange);
  border-radius: 6px;
  z-index: 1;
  color: var(--orange);
  font-size: 1.2rem;
  transition: color 0.5s;
}

#contact button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--orange);
  left: 100%;
  top: 100%;
  transition: all 0.7s;
}

#contact button:hover {
  color: #fff;
}

#contact button:hover::before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: var(--orange);
  transition: background 0s;
}
